$closedText: #03ac1a;
$openText: #ff0000;
$trippedText: #ff0000;
$openLayer:rgba(255, 196, 0, 0.445);
$trippedLayer:rgba(255, 53, 53, 0.445);
$strokeOnHover:rgba(255,180,0,1);
$strokeWidth: 5px;
$smallStrokeWidth: 3px;
$opacityZero: rgba(255,255,255,0);

$voltageAppliedLine: #3ec221;
$noVoltage: #30332f;
$trippedLine: #ff0000;

$svgMinWidth: 1023px;
$svgMaxHeight: 80vh;

@mixin strokeParams {
    stroke-width: $strokeWidth;
    stroke: $strokeOnHover;
}

@mixin smallStrokeParams {
    stroke-width: $smallStrokeWidth;
    stroke: $strokeOnHover;
}
