@import '_variables.scss';

.minwidth {
    min-width: $svgMinWidth;
}

.closed {
    fill: $closedText;
    rect
    {
        fill: $opacityZero;
        &:hover {
            @include strokeParams
        }
    }
}

.open {
    fill: $openText;
    
    rect
    {
        fill: $errorLayer;
        &:hover {
            @include strokeParams
        }
    }
}

.static {
    fill: $closedText;
    rect {
        fill: $opacityZero;
    }
}