//elevation variables
$closedText: #03ac1a;
$openText: #ee0000;
$errorLayer:rgba(255, 196, 0, 0.445);
$strokeOnHover:rgba(255,180,0,1);
$strokeWidth: 5px;
$opacityZero: rgba(255,255,255,0);

//mixins
@mixin strokeParams {
    stroke-width: $strokeWidth;
    stroke: $strokeOnHover;
}

.minwidth {
    min-width: 1023px
}

.closed {
    fill: $closedText;
    rect
    {
        fill: $opacityZero;
        &:hover {
            @include strokeParams
        }
    }
}

.open {
    fill: $openText;
    
    rect
    {
        fill: $errorLayer;
        &:hover {
            @include strokeParams
        }
    }
}

.static {
    fill: $closedText;
    rect {
        fill: $opacityZero;
    }
}