

@import '_variables.scss';

.minwidth {
    min-width: $svgMinWidth
}

.voltageApplied {
    stroke: $voltageAppliedLine;
}

.noVoltage {
    stroke: $noVoltage
}

.overlay {
    &:hover {
        @include strokeParams
    }
}